.mobile-app-wrapper {
    .mobile-thumb {
        margin-bottom: -180px;
        position: relative;
        z-index: 5;

        @include breakpoint (max-xl){
            margin-bottom: 0;

            img {
                @include imgw;
            }
        }

        .shape-img {
            position: absolute;
            bottom: 0;
            left: -95px;
            z-index: -1;

            @include breakpoint (max-xl){
               display: none;
            }
        }
    }

    .mobile-app-content {
       p {
            font-size: 24px;
            color: $white;
            opacity: .9;
       }

       .apps-button {
            @include flex;
            gap: 20px;
            margin-top: 40px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }
       }
    }
}

.how-too-work-items {
    margin-top: 30px;
    text-align: center;

    .icon {
        width: 171px;
        height: 171px;
        line-height: 171px;
        text-align: center;
        border-radius: 50%;
        background-color: $white;
        text-align: center;
        margin: 0 auto;
        position: relative;

        .bar-shape {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .content {
        margin-top: 30px;

        h3 {
            font-weight: 500;
            margin-bottom: 10px;
        }

        p {
            color: $white;
            max-width: 255px;
            margin: 0 auto;
        }
    }
}

.how-to-work-wrapper {
    @include flex;
    justify-content: space-between;
    gap: 40px;

    @include breakpoint (max-xxl){
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .arrow-shape {
        margin-top: -100px;

        @include breakpoint (max-xxl){
            display: none
        }
    }
}

.platform-wrapper {
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .platform-icon {
        width: 210px;
        height: 210px;
        line-height: 210px;
        border-radius: 50%;
        background-color: #FFFFFF;
        text-align: center;
        margin-top: 30px;

        @include breakpoint (max-md){
            width: 150px;
            height: 150px;
            line-height: 150px;
        }
    }

    .platform-items {
        @include flex;
        gap: 229px;
        margin-top: 60px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}

.platform-wrapper-2 {
    @include flex;
    justify-content: space-around;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
    }

    .platform-icon {
        width: 210px;
        height: 210px;
        line-height: 210px;
        border-radius: 50%;
        background-color: #FFFFFF;
        text-align: center;
        margin-top: 30px;

        @include breakpoint (max-md){
            width: 150px;
            height: 150px;
            line-height: 150px;
        }
    }
}

.work-process-items {
    margin-top: 30px;
    text-align: center;
    padding: 50px 35px;
    border-radius: 25px;
    background: #1D1D21;

    .icon {
        width: 62.56px;
        height: 64.4px;
        border-radius: 200px 200px 200px 0;
        background: #414146;
        text-align: center;
        line-height: 64.4px;
        margin: 0 auto;
        margin-bottom: 25px;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            content: "";
            width: 92px;
            height: 92px;
            border: 1px solid rgba(207, 208, 212, 0.2);
            border-radius: 50%;
        }
    }

    .number {
        color: #CDCDCD;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        margin: 0 auto;
        border: 1px solid rgba(207, 208, 212, 0.2);
    }

    .content {
        margin-top: 30px;

        h3 {
            margin-bottom: 15px;
        }
    }
}