.team-box-items {
    margin-top: 30px;
    position: relative;
    text-align: center;

    &::before {
        @include before;
        border-radius: 10px;
        border: 1px solid rgba(207, 208, 212, 0.20);
        top: 26px;
        height: initial;
    }

    .team-image {
        padding-left: 20px;
        position: relative;
        z-index: 9;

        img {
            @include imgw;
            border-radius: 10px;
        }
        
        .social-profile {
            position: absolute;
            right: 20px;
            bottom: 20px;
            content: "";
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            z-index: 2;
            display: inline-block;
            overflow: hidden;
            cursor: pointer;

            ul {
                transform: translateY(100px);
                transition: all 0.6s ease-in-out;
                opacity: 0;
                visibility: hidden;
                z-index: -1;

                li {
                    a {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        display: block;
                        background: $white;
                        color: $header-color;
                        -webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                        text-align: center;
                        margin: 0 auto;
                        border-radius: 5px;
                        margin-bottom: 10px;

                        &:hover {
                            background-color: $theme-color;
                        }
                    }
                }
            }

            .plus-btn {
                z-index: 2;
                cursor: pointer;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                display: inline-block;
                background: $white;
                color: $header-color;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                border-radius: 5px;

                &:hover {
                    background-color: $theme-color;
                }
            }

            &:hover {
                ul {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .team-content {
        padding: 20px 0;

        h3 {
           font-size: 24px;
           margin-bottom: 5px;
        }
    }
}

.team-title-items {
    @include flex;
    margin-left: 200px;
    gap: 40px;
    margin-bottom: 30px;

    @include breakpoint (max-xl){
        margin-left: 0;
    }

    @include breakpoint (max-lg){
        flex-wrap: wrap;
        gap: 20px;
    }

    @include breakpoint (max-md){
        margin-bottom: 0;
    }

    p {
        max-width: 450px;
    }
}

.team-section {
    &.style-padding {
        @include breakpoint (max-xl){
            padding-top: 120px;
        }
    }
}